<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <nav class="bg-black p-4">
  <div class="container mx-auto flex items-center justify-between">
    <!-- Logo -->
    <a href="/" class="text-white font-bold text-xl tracking-wide">
      RDEC
    </a>
    <!-- Menu Links -->
    <div class="space-x-6">
      <a href="/student/addStudent" class="text-gray-300 hover:text-white transition">Add Student</a>
      <a href="/student/listStudent" class="text-gray-300 hover:text-white transition">List Student</a>
    </div>
  </div>
</nav>

</body>
</html>